<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generate.dao.FocusMapper">
  <resultMap id="BaseResultMap" type="com.generate.pojo.Focus">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goodstable_id" jdbcType="BIGINT" property="goodstableId" />
    <result column="usertable_id" jdbcType="BIGINT" property="usertableId" />
    <result column="focustime" jdbcType="TIMESTAMP" property="focustime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goodstable_id, usertable_id, focustime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from focustable
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from focustable
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.generate.pojo.Focus">
    insert into focustable (id, goodstable_id, usertable_id, 
      focustime)
    values (#{id,jdbcType=BIGINT}, #{goodstableId,jdbcType=BIGINT}, #{usertableId,jdbcType=BIGINT}, 
      #{focustime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.generate.pojo.Focus">
    insert into focustable
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodstableId != null">
        goodstable_id,
      </if>
      <if test="usertableId != null">
        usertable_id,
      </if>
      <if test="focustime != null">
        focustime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodstableId != null">
        #{goodstableId,jdbcType=BIGINT},
      </if>
      <if test="usertableId != null">
        #{usertableId,jdbcType=BIGINT},
      </if>
      <if test="focustime != null">
        #{focustime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generate.pojo.Focus">
    update focustable
    <set>
      <if test="goodstableId != null">
        goodstable_id = #{goodstableId,jdbcType=BIGINT},
      </if>
      <if test="usertableId != null">
        usertable_id = #{usertableId,jdbcType=BIGINT},
      </if>
      <if test="focustime != null">
        focustime = #{focustime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generate.pojo.Focus">
    update focustable
    set goodstable_id = #{goodstableId,jdbcType=BIGINT},
      usertable_id = #{usertableId,jdbcType=BIGINT},
      focustime = #{focustime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>