<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generate.dao.OrderBaseMapper">
  <resultMap id="BaseResultMap" type="com.generate.pojo.OrderBase">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="usertable_id" jdbcType="BIGINT" property="usertableId" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="orderdate" jdbcType="TIMESTAMP" property="orderdate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, usertable_id, amount, status, orderdate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orderbasetable
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from orderbasetable
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.generate.pojo.OrderBase">
    insert into orderbasetable (id, usertable_id, amount, 
      status, orderdate)
    values (#{id,jdbcType=BIGINT}, #{usertableId,jdbcType=BIGINT}, #{amount,jdbcType=DOUBLE}, 
      #{status,jdbcType=TINYINT}, #{orderdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.generate.pojo.OrderBase">
    insert into orderbasetable
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="usertableId != null">
        usertable_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="orderdate != null">
        orderdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="usertableId != null">
        #{usertableId,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="orderdate != null">
        #{orderdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generate.pojo.OrderBase">
    update orderbasetable
    <set>
      <if test="usertableId != null">
        usertable_id = #{usertableId,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="orderdate != null">
        orderdate = #{orderdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generate.pojo.OrderBase">
    update orderbasetable
    set usertable_id = #{usertableId,jdbcType=BIGINT},
      amount = #{amount,jdbcType=DOUBLE},
      status = #{status,jdbcType=TINYINT},
      orderdate = #{orderdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>