<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generate.dao.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.generate.pojo.OrderDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="orderbasetable_id" jdbcType="BIGINT" property="orderbasetableId" />
    <result column="goodstable_id" jdbcType="BIGINT" property="goodstableId" />
    <result column="shoppingnum" jdbcType="INTEGER" property="shoppingnum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, orderbasetable_id, goodstable_id, shoppingnum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orderdetail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from orderdetail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.generate.pojo.OrderDetail">
    insert into orderdetail (id, orderbasetable_id, goodstable_id, 
      shoppingnum)
    values (#{id,jdbcType=BIGINT}, #{orderbasetableId,jdbcType=BIGINT}, #{goodstableId,jdbcType=BIGINT}, 
      #{shoppingnum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.generate.pojo.OrderDetail">
    insert into orderdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderbasetableId != null">
        orderbasetable_id,
      </if>
      <if test="goodstableId != null">
        goodstable_id,
      </if>
      <if test="shoppingnum != null">
        shoppingnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderbasetableId != null">
        #{orderbasetableId,jdbcType=BIGINT},
      </if>
      <if test="goodstableId != null">
        #{goodstableId,jdbcType=BIGINT},
      </if>
      <if test="shoppingnum != null">
        #{shoppingnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generate.pojo.OrderDetail">
    update orderdetail
    <set>
      <if test="orderbasetableId != null">
        orderbasetable_id = #{orderbasetableId,jdbcType=BIGINT},
      </if>
      <if test="goodstableId != null">
        goodstable_id = #{goodstableId,jdbcType=BIGINT},
      </if>
      <if test="shoppingnum != null">
        shoppingnum = #{shoppingnum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generate.pojo.OrderDetail">
    update orderdetail
    set orderbasetable_id = #{orderbasetableId,jdbcType=BIGINT},
      goodstable_id = #{goodstableId,jdbcType=BIGINT},
      shoppingnum = #{shoppingnum,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.generate.pojo.OrderDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="orderbasetable_id" jdbcType="BIGINT" property="orderbasetableId" />
    <result column="goodstable_id" jdbcType="BIGINT" property="goodstableId" />
    <result column="shoppingnum" jdbcType="INTEGER" property="shoppingnum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, orderbasetable_id, goodstable_id, shoppingnum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orderdetail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from orderdetail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.generate.pojo.OrderDetail">
    insert into orderdetail (id, orderbasetable_id, goodstable_id, 
      shoppingnum)
    values (#{id,jdbcType=BIGINT}, #{orderbasetableId,jdbcType=BIGINT}, #{goodstableId,jdbcType=BIGINT}, 
      #{shoppingnum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.generate.pojo.OrderDetail">
    insert into orderdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderbasetableId != null">
        orderbasetable_id,
      </if>
      <if test="goodstableId != null">
        goodstable_id,
      </if>
      <if test="shoppingnum != null">
        shoppingnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderbasetableId != null">
        #{orderbasetableId,jdbcType=BIGINT},
      </if>
      <if test="goodstableId != null">
        #{goodstableId,jdbcType=BIGINT},
      </if>
      <if test="shoppingnum != null">
        #{shoppingnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generate.pojo.OrderDetail">
    update orderdetail
    <set>
      <if test="orderbasetableId != null">
        orderbasetable_id = #{orderbasetableId,jdbcType=BIGINT},
      </if>
      <if test="goodstableId != null">
        goodstable_id = #{goodstableId,jdbcType=BIGINT},
      </if>
      <if test="shoppingnum != null">
        shoppingnum = #{shoppingnum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generate.pojo.OrderDetail">
    update orderdetail
    set orderbasetable_id = #{orderbasetableId,jdbcType=BIGINT},
      goodstable_id = #{goodstableId,jdbcType=BIGINT},
      shoppingnum = #{shoppingnum,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.generate.pojo.OrderDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="orderbasetable_id" jdbcType="BIGINT" property="orderbasetableId" />
    <result column="goodstable_id" jdbcType="BIGINT" property="goodstableId" />
    <result column="shoppingnum" jdbcType="INTEGER" property="shoppingnum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, orderbasetable_id, goodstable_id, shoppingnum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orderdetail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from orderdetail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.generate.pojo.OrderDetail">
    insert into orderdetail (id, orderbasetable_id, goodstable_id, 
      shoppingnum)
    values (#{id,jdbcType=BIGINT}, #{orderbasetableId,jdbcType=BIGINT}, #{goodstableId,jdbcType=BIGINT}, 
      #{shoppingnum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.generate.pojo.OrderDetail">
    insert into orderdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderbasetableId != null">
        orderbasetable_id,
      </if>
      <if test="goodstableId != null">
        goodstable_id,
      </if>
      <if test="shoppingnum != null">
        shoppingnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderbasetableId != null">
        #{orderbasetableId,jdbcType=BIGINT},
      </if>
      <if test="goodstableId != null">
        #{goodstableId,jdbcType=BIGINT},
      </if>
      <if test="shoppingnum != null">
        #{shoppingnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.generate.pojo.OrderDetail">
    update orderdetail
    <set>
      <if test="orderbasetableId != null">
        orderbasetable_id = #{orderbasetableId,jdbcType=BIGINT},
      </if>
      <if test="goodstableId != null">
        goodstable_id = #{goodstableId,jdbcType=BIGINT},
      </if>
      <if test="shoppingnum != null">
        shoppingnum = #{shoppingnum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.generate.pojo.OrderDetail">
    update orderdetail
    set orderbasetable_id = #{orderbasetableId,jdbcType=BIGINT},
      goodstable_id = #{goodstableId,jdbcType=BIGINT},
      shoppingnum = #{shoppingnum,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>